


.banner-img{
    width: 300px;
    height:500px;
    
}

.banner-container{
    margin: 0  ;
    background: #fc055f27;
    display: flex;
    justify-content: space-around;
   padding-top: 50px;
    align-items:center;
    height: 500px;
    padding-left: 190px;
    padding-right: 200px;

}
.title{font-size: 60px;
    font-weight: bold;
    
}
.description{
    font-weight: lighter;
    font-size: small;
    padding-bottom: 15px;
    color: rgb(125, 117, 117);
    
}

.btn{
   
    padding: 10px;
    background-color: rgb(250, 86, 165);
    color: white;
    border: 0;
}

.title .description {
   display: inline-block;
   padding-right: 100px;
}

.second{
    text-align: center;
    align-items: center;
}
.name{
    display: flex;
    justify-content: space-around;

}
.box {justify-content: space-evenly;
display: flex;
height:300px ;
}

.box-box1{ 
    padding: 80px;
    padding-bottom: 0;
    border-radius: 200px 200px 0px 0px;
    background-color:#A7216226 ;
}
.box-box2{
    padding: 80px; 
    padding-bottom: ;
    background-color:#0597A026;
    border-radius: 200px 200px 0px 0px;
    
}
.box-box3{
    
    
    padding: 80px;
    padding-bottom: 0px;
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;


}
.end {
padding-left:100px;
padding-right: 100px;
padding-top: 50px;
padding-bottom: 50px;
background-color: black;
color: white;
text-align: center;
}
.time{
    color: rgb(156, 152, 152);
}

.primary-color{
    color: rgb(244, 7, 121);
}

.fifth{ 
    text-align: center;
    justify-content: space-between;
    
}
.images{
    justify-content: space-between;
    display: flex;
   text-align:center;
    ;
}
#email{
    padding:10px ;
}
.sixth{
    
    background-image: url(./Rectangle\ 9.png);
   
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  width: 1440px; 
   height: 449px;
   padding-top:300px ; 
   text-align: center;
   justify-content: center;
   
}